{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">{{ post.title }}</h1>
    <p>
        <img src="{{ asset(post.image) }}" alt="{{ post.title }}"/>
    </p>
    <p>{{ post.content }}</p>
    {{ form_start(form) }}
        {% if form.author is defined %}
            {{ form_row(form.author) }}
        {% endif %}
        {{ form_row(form.content) }}
        <button>Commenter</button>
    {{ form_end(form) }}
    {% for comment in post.comments %}
        <p>{{ comment.author is not null ? comment.author : comment.user.pseudo }} : {{ comment.content }}</p>
    {% endfor %}
{% endblock %}
