{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <button>Inscription</button>
    {{ form_end(form) }}
{% endblock %}
